
/*! 포켓몬 타입 아이콘 + 텍스트 */
.m-type{display:block;width:70px;}
.m-type span{padding-top:5px;display:block;font-size:16px;color:#000;text-align:center;letter-spacing:-0.05em;}
.m-type .a-type{background-size:100px auto;}